Workout/Workout.suo
Workout/Workout.v11.suo
Workout/Workout/Workout.csproj
Workout/Workout/bin/Workout.dll
Workout/Workout/bin/Workout.pdb
Workout/Workout/obj/Debug/Workout.dll
Workout/Workout/obj/Debug/Workout.pdb
Workout/Workout/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Workout/Workout/obj/Debug/Workout.csproj.FileListAbsolute.txt
